body {
    background-color: #2f343f;
    color: #ffffff;
  }
  
  footer {
    background-color: #7a49a5;
    color: #ffffff;
  }
  
  /* Ajoutez un élément avec un fond vert pastel */
  .element-vert {
    background-color: #34c759;
    color: #ffffff;
  }